
.a1{
	width: 450px;
	height: 470px;
	background: green;
	margin: 50px;
	border-radius: 50px;
	
}

.a2{
	width: 50px;
	height: 50px;
	background: blue;
	position: absolute;
	top: 180px;
	left: 280px;
	border-radius: 100px;
}
.a3{
	width: 50px;
	height: 50px;
	background: yellow;
	position: absolute;
	top: 150px;
	left: 300px;
	border-radius: 100px;
	
}
.a4{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	top:110px;
	left:300px;
	border-radius:100px;
}
.a5{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	top:70px;
	left:290px;
	border-radius:100px;
}
.a6{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:50px;
	left:270px;
}
.a7{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	
	left:230px;
	
}
.a8{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:60px;
	left:200px;
	
}
.a9{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:80px;
	left:180px;
	
}
.a10{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:115px;
	left:170px;
	
}
.a11{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:150px;
	left:170px;
	
}
.a12{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:180px;
	left:180px;
	
}
.a13{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:210px;
	left:200px;
	
}
.a14{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:230px;
	left:220px;
	
}
.a15{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:250px;
	left:240px;
	
}
.a16{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:270px;
	left:260px;
	
}
.a17{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:290px;
	left:280px;
	
}
.a18{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:310px;
	left:300px;
	
}
.a19{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:330px;
	left:310px;
	
}
.a20{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:360px;
	left:320px;
	
}
.a21{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:390px;
	left:320px;
	
}
.a22{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:410px;
	left:310px;
	
}
.a23{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:430px;
	left:300px;
	
}
.a24{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:450px;
	left:280px;
	
}
.a25{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:460px;
	left:250px;
	
}
.a26{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:460px;
	left:220px;
	
}
.a27{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:440px;
	left:190px;
	
}
.a28{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:420px;
	left:180px;
	
}
.a29{
	width:50px;
	height:50px;
	background:yellow;
	position:absolute;
	border-radius:100px;
	top:390px;
	left:180px;
	
}
.a30{
	width:50px;
	height:50px;
	background:blue;
	position:absolute;
	border-radius:100px;
	top:360px;
	left:190px;
	
}











